### 1. Vector
Vector merupakan tipe data sederhana di R yang menyimpan deretan nilai (lebih dari satu nilai) dengan tipe data sama untuk setiap elemennya. Maksudnya, jika tipe datanya berupa teks maka seluruh elemennya harus bertipe teks. Demikian juga jika tipenya angka maka seluruh elemennya berisi angka semua.

Vector didefinisikan dengan nama function yang memilki satu huruf saja: c, yang telah kamu pelajari dan praktikkan sebelumnya.

In [ ]:
# Ini adalah contoh vector untuk angka numerik dengan 3 data c(4, 5, 6)
c(4,5,6)

# Variable bernama angka dengan input berupa vector
angka <- c(4,5,6)

# Tampilkan isi variable angka dengan fungsi print
print(angka)

[1] 4 5 6

[1] 4 5 6

### 2. Deretan Nilai dengan Operator ":" (Titik Dua)

Operator ":" atau titik dua merupakan operator yang digunakan untuk mempersingkat penulisan dari nilai-nilai vector yang berurutan. Sebagai contoh, perintah c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) yang membentuk vector dengan angka 1 sampai dengan 10 dapat disingkat dengan c(1:10).

In [ ]:
angka1 <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(angka1)
angka2 <- c(1:10)
print(angka2)

 [1]  1  2  3  4  5  6  7  8  9 10
 [1]  1  2  3  4  5  6  7  8  9 10

### 3. Vector dengan Isi Teks

Selain angka, vector juga bisa diisi dengan teks.

In [ ]:
# Variable nama_mahasiswa dengan input character
nama_mahasiswa <- c("Amira","Budi","Charlie")
print(nama_mahasiswa)

[1] "Amira"   "Budi"    "Charlie"

### 4. Index dan Accessor pada Vector

In [ ]:
# Buat vector variable bernama angka yang isinya 20 s/d 30
angka <- c(20:30)
print(angka)

# Tampilkan isi variable angka pada posisi ke 3
print(angka[3])

# Tampilkan isi variable angka pada posisi ke 5 gunakan kurung siku ganda
print(angka[[5]])

# Tampilkan isi variable angka pada posisi ke 4 s/d 6
print(angka[4:6])

# Buat vector teks dengan nama kode_prodi yang diisi sesuai petunjuk soal
kode_prodi <- c("DKV","ILKOM","ICT")
# Tampilkan isi indeks ketiga dari kode_prodi
print(kode_prodi[3])

 [1] 20 21 22 23 24 25 26 27 28 29 30
[1] 22
[1] 24
[1] 23 24 25
[1] "ICT"

### 5. Named Vector
Selain dengan angka, indeks pada vector juga dapat dilengkapi dengan nama untuk tiap elemennya dengan menggunakan format penulisan name=value. Penggunaan format name=value disebut dengan named vector.

In [1]:
#Membuat named vector dengan nama nilai
nilai <- c(statistik = 89, fisika = 95, ilmukomunikasi = 100)

#Menampilkan isi variable nilai
print(nilai)

#Menampilkan isi dengan nama fisika
print(nilai["fisika"])
#Buat variable profil sesuai permintaan soal

#Tampilkan variable profil
profil <- c(nama= "Budi", tempat_tinggal = "Jakarta", tingkat_pendidikan = "S1")

print(profil)

     statistik         fisika ilmukomunikasi
            89             95            100
fisika
    95
              nama     tempat_tinggal tingkat_pendidikan
            "Budi"          "Jakarta"               "S1"

### 6. List
List merupakan jenis data di R yang mirip dengan vector. Perbedaannya adalah list dapat menyimpan lebih dari satu tipe data dasar di setiap elemennya. Untuk memasukkan isi ke dalam struktur data ini kita gunakan function list.

In [2]:
# List disimpan dalam variable dengan nama list_random
list_random <- list(2, "Budi", 4)

# Menampilkan isi list
list_random 

# List disimpan dalam variable dengan nama dati2
dati2 <- list(nama = "Denpasar", propinsi = "Bali")

# Menampilkan isi list dati2
dati2 

# Buat variable kota sesuai permintaan soal
kota <- list(nama_kota = "Makassar", propinsi = "Sulawesi Selatan", luas_km2 = 199.3)
# Tampilkan isi variable list kota
kota

[[1]]
[1] 2

[[2]]
[1] "Budi"

[[3]]
[1] 4

$nama
[1] "Denpasar"

$propinsi
[1] "Bali"

$nama_kota
[1] "Makassar"

$propinsi
[1] "Sulawesi Selatan"

$luas_km2
[1] 199.3

### 7. List Index
Untuk mengambil isi list, kamu dapat mengambil dari posisi index-nya. Ketentuan dan caranya sama persis dengan apa yang telah kamu pelajari di vector.

In [3]:
# Membentuk list dengan 2 angka dan 1 character
list_saya <- list(2, "Budi", 4)

# Menampilkan index kedua dengan aksesor kurung siku tunggal 
list_saya[2]

# Menampilkan index kedua dengan aksesor kurung siku ganda
list_saya[[2]]

# Menampilkan index kedua s/d ketiga
list_saya[2:3]

# Tugas praktik
list_satu <- list(1, "Online", TRUE)

list_satu[1]

[[1]]
[1] "Budi"

[1] "Budi"

[[1]]
[1] "Budi"

[[2]]
[1] 4

[[1]]
[1] 1

### 8. Data Frame
Data frame merupakan jenis struktur data yang dirancang untuk representasi tabel, yang terdiri dari atas kolom dengan tiap kolom berisi list ataupun vector dengan jumlah data yang sama.

In [4]:
#Membuat dua variable vector
fakultas <- c("Bisnis", "D3 Perhotelan", "ICT", "Ilmu Komunikasi", "Seni dan Desain")
jumlah_mahasiswa <- c(260, 28, 284, 465, 735)

#Membuat data frame dari kedua vector di atas
info_mahasiswa <- data.frame(fakultas, jumlah_mahasiswa)

#Melihat isi data frame
info_mahasiswa

#Buat vector baru sebagai representasi akreditasi
akreditasi <- c("A","A","B","A","A")

#Buat data frame dari ketiga vector di atas
info_mahasiswa <- data.frame(fakultas, jumlah_mahasiswa, akreditasi)

#Tampilkan dataframe info_mahasiswa
info_mahasiswa

  fakultas        jumlah_mahasiswa
1 Bisnis          260
2 D3 Perhotelan    28
3 ICT             284
4 Ilmu Komunikasi 465
5 Seni dan Desain 735

  fakultas        jumlah_mahasiswa akreditasi
1 Bisnis          260              A
2 D3 Perhotelan    28              A
3 ICT             284              B
4 Ilmu Komunikasi 465              A
5 Seni dan Desain 735              A

### 9. Cara Akses Data Frame
Data frame memiliki banyak kolom dan dapat diakses dengan melalui nama kolom yang dimilikinya. Caranya adalah menggunakan accessor dengan tanda $ yang diikuti dengan nama kolom.

In [5]:
#Membuat tiga variable vector
fakultas <- c("Bisnis", "D3 Perhotelan", "ICT", "Ilmu Komunikasi", "Seni dan Desain")
jumlah_mahasiswa <- c(260, 28, 284, 465, 735)
akreditasi <- c("A","A","B","A","A")

#Membuat data frame dari kedua vector di atas
info_mahasiswa <- data.frame(fakultas, jumlah_mahasiswa, akreditasi)

#Menampilkan kolom jumlah_mahasiswa
info_mahasiswa$jumlah_mahasiswa

#Menampilkan kolom fakultas
info_mahasiswa$fakultas

[1] 260  28 284 465 735

[1] "Bisnis"          "D3 Perhotelan"   "ICT"             "Ilmu Komunikasi"
[5] "Seni dan Desain"